<div class="d-flex justify-content-center align-items-center h-100">
    <div class="content-container">
        <h1 class="mb-4">Signup Form</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="signupForm.username"  required>
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="signupForm.password" required>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="signupForm.email" disabled>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="isSubmitButtonDisabled">Register</button>
        </form>
    </div>
</div>
