<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pending Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container mt-3">
  <div class="alert alert-danger" role="alert">
    Your application status is: REJECTED <br>
    Please see the comment below and make changes: <br>
    {{ comment }}
  </div>

  <button class="btn btn-primary mt-4" (click)="onEditClick()" [hidden]="isEditing">Start Editing</button>
  <hr>

  <div>
    <h4>Basic Information</h4>
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" [(ngModel)]="profile.firstName" [disabled]="!isEditing">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" [(ngModel)]="profile.lastName" [disabled]="!isEditing">
    </div>
    <div class="form-group">
      <label>Middle Name</label>
      <input class="form-control" [(ngModel)]="profile.middleName" [disabled]="!isEditing">
    </div>
    <div class="form-group">
      <label>Preferred Name</label>
      <input class="form-control" [(ngModel)]="profile.preferredName" [disabled]="!isEditing">
    </div>
  </div>
  <hr>
  <div>
    <h4>Address Information</h4>
    <app-address-table [addresses]="profile.addresses" [isEditing]="isEditing"></app-address-table>
    <!--    <div class="form-group">-->
    <!--      <label>Address Line 1</label>-->
    <!--      <input class="form-control" [(ngModel)]="profile.addresses" [disabled]="!isEditing">-->
    <!--    </div>-->

    <!--    <div class="form-group">-->
    <!--      <label>Address Line 2</label>-->
    <!--      <input class="form-control" [(ngModel)]="profile.addresses" [disabled]="!isEditing">-->
    <!--    </div>-->
    <!--    <div class="form-row">-->
    <!--      <div class="form-group col-md-6">-->
    <!--        <label>City</label>-->
    <!--        <input class="form-control" [(ngModel)]="profile.addresses" [disabled]="!isEditing">-->
    <!--      </div>-->
    <!--      <div class="form-group col-md-4">-->
    <!--        <label>State</label>-->
    <!--        <input class="form-control" [(ngModel)]="profile.addresses" [disabled]="!isEditing">-->
    <!--      </div>-->
    <!--      <div class="form-group col-md-2">-->
    <!--        <label>Zip Code</label>-->
    <!--        <input class="form-control" [(ngModel)]="profile.addresses" [disabled]="!isEditing">-->
    <!--      </div>-->
    <!--    </div>-->
  </div>

  <hr>
  <div>
    <h4>Phone and email</h4>
    <div class="form-group">
      <label>Cell Phone</label>
      <input class="form-control" [(ngModel)]="profile.cellPhone" [disabled]="!isEditing">
    </div>
    <div class="form-group">
      <label>Alternate Phone</label>
      <input class="form-control" [(ngModel)]="profile.alternatePhone" [disabled]="!isEditing">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" [(ngModel)]="profile.email" [disabled]="!isEditing">
    </div>
  </div>
  <hr>
  <h4>SSN and DOB</h4>
  <div class="form-group">
    <label>SSN</label>
    <input class="form-control" [(ngModel)]="profile.ssn" [disabled]="!isEditing">

  </div>
  <div class="form-group">
    <label>DOB</label>
    <input type="date" class="form-control" [(ngModel)]="profile.dob" [disabled]="!isEditing">

  </div>
  <div class="form-group">
    <label>Gender</label>
    <input class="form-control" [(ngModel)]="profile.gender" [disabled]="!isEditing">
  </div>
  <hr>

  <div>
    <h4>Emergency Contacts</h4>
    <app-contact-table [contacts]="profile.contacts" [isEditing] = "isEditing"></app-contact-table>
<!--    <div class="form-group">-->
<!--      <label>First Name</label>-->
<!--      <input class="form-control" [(ngModel)]="profile.contacts" [disabled]="!isEditing">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Last Name</label>-->
<!--      <input class="form-control" [(ngModel)]="profile.contacts" [disabled]="!isEditing">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Email</label>-->
<!--      <input class="form-control" [(ngModel)]="profile.contacts" [disabled]="!isEditing">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label>Cell Phone</label>-->
<!--      <input class="form-control" [(ngModel)]="profile.contacts" [disabled]="!isEditing">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Alternate Phone</label>-->
<!--      <input class="form-control" [(ngModel)]="profile.contacts" [disabled]="!isEditing">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Relationship</label>-->
<!--      <input class="form-control" [(ngModel)]="profile.contacts" [disabled]="!isEditing">-->
<!--    </div>-->
  </div>
  <hr>
  <div>
    <h4>Visa</h4>
    <app-visa-table [visas]="profile.visaStatuses" [isEditing]="isEditing"></app-visa-table>
    <!--    <div class="form-group">-->
    <!--      <label>Please upload your OPT Receipt:</label>-->
    <!--      <input type="file" class="form-control-file">-->
    <!--      <button type="button" class="btn btn-primary">Upload</button>-->
    <!--    </div>-->
  </div>
  <hr>

  <div>
    <h4>Driver License</h4>
    <div class="form-group">
      <label>Driver License number:</label>
      <input class="form-control" [(ngModel)]="profile.driverLicense" [disabled]="!isEditing">
    </div>
    <div class="form-group">
      <label>Driver License Expiration Date</label>
      <input class="form-control" [(ngModel)]="profile.driverLicenseExpiration" [disabled]="!isEditing">
    </div>
    <!--    <div class="form-group">-->
    <!--      <label>Please upload your driver license photo:</label>-->
    <!--      <input type="file" class="form-control-file">-->
    <!--      <button type="button" class="btn btn-primary">Upload</button>-->
    <!--    </div>-->

  </div>
  <div>
    <h4>Personal Documents</h4>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let doc of profile.personalDocuments">
          {{ doc.title }}
          <a (click) = downloadFile(doc.path) download="{{ doc.title }}" class="btn btn-sm btn-primary float-right">Download</a>
        </li>
      </ul>
    </div>
  </div>
  <hr>

  <button class="btn btn-primary" (click)="onSaveClick()" [hidden]="!isEditing">Submit</button>

</div>
</body>
